

	@font-face {
		font-family: 'StudioSunBalginBlack';
		src: url('StudioSunBalginBlack.woff2') format('woff2');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	/* Rector Regular */
	@font-face {
	    font-family: 'Rector';
	    src: url('rectorwebregular.woff2') format('woff2');
	    font-weight: 400;
	    font-style: normal;
	    font-display: swap;
	}

	/* ITC Avant Garde Gothic Medium */
	@font-face {
	    font-family: 'ITC';
	    src: url('bitcavantgardegothicmedium.woff2') format('woff2');
	    font-weight: 500;
	    font-style: normal;
	    font-display: swap;
	}

	:root {

		--size: 14px;
		--fg: #fff9f9;
		--bg: #001010;
		--fade: #303030;
		--width: 520px;
		--logo: 'Rector';
		--title: 'ITC';
		--body: 'ITC';
		--radius: calc( var(--size) * 0.682 );
		--border: calc( var(--size) * 0.682 * 0.682 * 0.682 );
	}

	:root {

	}
	@media screen and (max-width: 600px) {

		:root {
			/*--size: 2vw;*/
		}
	}


	a, a:visited, a:hover, a:active {
		color: var(--fg);
		text-decoration: none;
	}

	h1,h2,h3,h4,h5,h6, * {
		font-size: 1em;
		font-weight: normal;
		padding: 0;
		margin: 0;
		color: var(--fg);
		list-style-type: none;
		font-style: normal;
	}

	/* ========= HTML ========= */

	html, body, main {
		/*text-transform: uppercase;*/
		font-family: var(--body), sans-serif;
		color: var(--fg);
		background: var(--bg);
		font-size: var(--size);
		padding: 0;
		margin: 0;
		letter-spacing: calc( 0.682em * 0.682 * 0.682 * 0.682 * 0.682 * 0.682 * 0.682 );
	}
	* {
		line-height: 1.2em;
		padding: 0;
		margin: 0;
	}

	/* ========= EMBEDS ========= */

	.bandcamp-embed {
		height: auto;
		aspect-ratio: 1 / 1.5!important;
		position: relative;
		display: block;
		overflow: hidden;
		border-radius: var(--radius);
		overflow: hidden;
	}
	@media screen and (max-width: 600px) {
		.bandcamp-embed {

			aspect-ratio: 1 / 1.5!important;
		}
	}

	.bandcamp-embed iframe {
		border: none;
		margin: -2px;
		width: calc(100% + 4px)!important;
		position: relative;
		left: -1px;
		top: -1px;
	}

	/* ========= HEADER ========= */

	header.site-header {
		display: block;
		position: sticky;
		top: 0px;
		left: 0px;
		display: block;
		z-index: 2;
		mix-blend-mode: difference;
	}

	header.site-header h1 {
		padding: 1.682em;
		padding-bottom: 0em;
		font-family: var(--logo), sans-serif;
		/*padding-top: calc( 1.682em * 1.682);*/
		/*overflow: clip;*/
	}
	header.site-header h1 a {
		color: var(--fg);
		font-size: calc( 1.682em * 1.682 * 1.682 );
		font-weight: bold;
		border-bottom: var(--border) solid var(--fg);
	}
	header.site-header h1 span {
		position: absolute;
		left: -9999px;
		top: -9999px;
	}
	header.site-header h1 img {
		margin: 1.682em;
	}

	header.site-header .desc {
		color: var(--fade);
	}

	/* ========= MAIN ========= */

	main {
		margin: 0 auto;
		max-width: var(--width);
		text-align: center;
	}

	.intro {
		text-align: left;
		padding: 2em 2em;
		font-size: 1em;
		text-justify: word;
		max-width: 472px;
		box-sizing: border-box;
		margin: 4em 1.682em;;
		color: var(--bg);
		background: var(--fg);
		border-radius: var(--radius);
		mix-blend-mode: difference;
		line-height: 1.682em;
		padding-top: 3em;
	}

	.intro span {
		color: var(--bg);
		/*font-style: italic;*/
		font-size: calc( 1.682em * 1.682 * 1.682);
		line-height: 0em;
		font-family: Rector;
	}

	.release {
		position: relative;
		z-index: 1;
		/*overflow: clip;*/
		padding: 0px;
		border-radius: var(--radius);
		margin: calc( 1.682em * 1.682 * 1.682 * 1.682 ) 1.682em;
		border-radius: var(--radius);
		mix-blend-mode: difference;
	}

	.release-inner {
		background: var(--fg);
		border-radius: var(--radius);
	}


	.release .player {
		position: relative;
		padding: var(--border);
		padding-top: calc(1.682em);
	}

	.release h2 {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: sticky;
		z-index: 2;
		top: calc( 2.3em);
		padding-top: 0.682em;
		align-self: flex-start;
		width: 100%;
		mix-blend-mode: difference;
		font-size: calc(1.682em * 1.682);
	}

	.release h2 a {
		display: flex;
		flex-direction: column;
		align-items: center;
		/*border-bottom: var(--border) solid var(--fg);*/
	}
	.release h2 a .title {
		transition: all 0.2s ease;
	}

	.meta {
		top: -3.5em;
		position: relative;
	}

	h2 span {
		display: block;
	}

	.artist, .title {
		display: block;
	}

	.label, .id, .date, .sep {
		font-weight: 800;
		display: inline-block;
		line-height: 0.682em;
		text-align: center;
		vertical-align: middle;
		padding: 0.682em 0em;
		border-radius: var(--radius);
		color: var(--fg)!important;
		mix-blend-mode: difference;
		text-transform: uppercase;
	}


	.id {
		font-weight: 700;
		transition: all 0.2s ease;
	}


	.artist, .title {
		font-weight: 700;
	}

	.release footer {
		padding: 1.682em;
		display: none;
	}

	.release footer svg {
		width: 0.682em;
		height: 0.682em;
		opacity: 0.682;
	}


	/* ========= MAIN ========= */

	footer.site-footer {
		padding: 1.682em 0;
		color: var(--fade);
		font-size: 1.682em;
		overflow: hidden;
	}

	footer.site-footer {
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: stretch;
		align-items: stretch;

	}
	footer.site-footer ul {
		display: flex;
		flex-grow: 1;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		/*transform: rotate(90deg);*/
	}

	footer.site-footer ul li a {
		display: block;
		margin: 0.682em 0em;
		font-weight: 500;
		/*font-size: 1.682em;*/
		color: var(--fg);
		mix-blend-mode: difference;
		text-transform: uppercase;
		font-size: 0.682em;
		border-bottom: var(--border) solid var(--fg);
	}

	footer.site-footer ul li a {
		font-weight: 300;
	}
	footer.site-footer ul li a:hover {
	}
	footer.site-footer > address * {
		font-weight: 700;
		color: var(--fg)!important;
		mix-blend-mode: difference;
		/*font-style: italic;*/
		font-size: 0.682em;
	}

	footer.site-footer address a {
		transition: all 0.2s ease;
		font-weight: 700;
		font-style: normal;
	}

